/venv/
/.venv/
__pycache__/
*.pyc
*.sqlite
*.db
*.db-journal
instance/
*.log
*.log.*
*.sql
*.csv
*.json
*.txt
uploads/
*.gz
*.tar
*.zip
*.rar
*.DS_Store
*.bak
*.backup
*.original
*.swp
.vscode/
node_modules/
*.sh
*.exp
*.bak_*
app.py.bak*
client.html.bak*
smart_paper.html.bak*
temp_update_*/
download_backup/
debug.log*
backups/
*.mp3
*.png
*.jpg
*.jpeg
*.gif
*~ 